---
- name: Installs latest Bash
  community.general.homebrew:
    name:
      - bash
      - bash-completion
    state: latest

- name: Check current shell
  ansible.builtin.command: echo $SHELL
  register: current_shell
  changed_when: false

- name: Configure Homebrew Bash as default shell
  ansible.builtin.command: chsh -s "{{ bash_path_macos }}" "{{ ansible_facts['user_id'] }}"
  become: true
  when: current_shell.stdout != bash_path_macos
