---
- name: Installs latest Bash
  community.general.homebrew:
    name:
    - bash
    - bash-completion
    state: present

- name: Check current shell
  ansible.builtin.command: echo $SHELL
  register: current_shell
  changed_when: false

- name: Configure new Bash as default shell
  ansible.builtin.command: chsh -s "{{ shell_path }}" "{{ ansible_facts['user_id' }}"
  become: true
  when: current_shell.stdout != shell_path
