---
- name: Configure laptop
  hosts: localhost
  connection: local

  vars:
    tmp_path: /tmp/dotfiles

  tasks:
    - name: Create tmp path for working
      ansible.builtin.file:
        path: "{{ tmp_path }}/"
        state: directory
        mode: u=rwx,g=rx,o=rx

    - name: Run 'apt-get update'
      ansible.builtin.apt:
        update_cache: true
      become: true
      changed_when: false

    - name: Install pip basic packages
      ansible.builtin.pip:
        name:
          - ansible-lint
        state: present
        extra_args: --user

    - name: Install snap packages
      community.general.snap:
        name:
          - code
          - pycharm-community
          - slack

    - name: Install Holaluz's OpenVPN
      ansible.builtin.include_role:
        name: openvpn
      vars:
        holaluz_openvpn_config_path: /etc/openvpn/holaluz

    - name: Install Zoom
      ansible.builtin.include_role:
        name: zoom

    - name: Install Docker
      ansible.builtin.include_role:
        name: docker
