---
- name: Configure laptop
  hosts: localhost
  connection: local

  vars:
    tmp_path: /tmp/dotfiles
    go_version: "go1.19.4"
    awscli_version: "2.9.10"

  tasks:
    - name: Get caller effective user
      ansible.builtin.command:
        cmd: id -nu
      register: caller_user
      changed_when: false

    - name: Get caller effective group
      ansible.builtin.command:
        cmd: id -ng
      register: caller_group
      changed_when: false

    - name: Create tmp path for working
      ansible.builtin.file:
        path: "{{ tmp_path }}/"
        state: directory
        mode: u=rwx,g=rx,o=rx

    - name: Update apt database
      ansible.builtin.apt:
        update_cache: true
      become: true
      changed_when: false

    - name: Upgrade apt packages
      ansible.builtin.apt:
        upgrade: full
      become: true

    - name: Install apt packages
      ansible.builtin.apt:
        name:
          - curl
          - htop
          - jq
          - ruby
        state: present
      become: true

    - name: Install & upgrade pip packages
      ansible.builtin.pip:
        name:
          - ansible
          - ansible-lint
          - coverage
          - pip
          - pre-commit
          - virtualenv
        state: latest # noqa package-latest (https://ansible-lint.readthedocs.io/rules/package-latest/)
        extra_args: --user

    - name: Install snap packages
      community.general.snap:
        name:
          - code
          - pycharm-community
          - remmina
          - slack
        state: present
      become: true

    - name: Install AWS CLI
      ansible.builtin.include_role:
        name: awscli
      vars:
        version: "{{ awscli_version }}"

    - name: Install Google Chrome
      ansible.builtin.include_role:
        name: chrome

    - name: Install Docker
      ansible.builtin.include_role:
        name: docker
      vars:
        user: '{{ caller_user.stdout }}'

    - name: Install git
      ansible.builtin.include_role:
        name: git

    - name: Install Go
      ansible.builtin.include_role:
        name: go
      vars:
        version: "{{ go_version }}"

    - name: Configure Bash
      ansible.builtin.include_role:
        name: bashrc
