---
- name: Install in macOS
  community.general.homebrew:
    name:
      - git
      - tig
    state: latest
  when: ansible_distribution == "MacOSX"

- name: Install in Ubuntu
  ansible.builtin.apt:
    name:
      - git
      - tig
    state: present
  become: true
  when: ansible_distribution == "Ubuntu"

- name: Copy config
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ ansible_facts['user_uid'] }}"
    group: "{{ ansible_facts['user_gid'] }}"
    mode: u=rw,g=r,o=r
  loop:
    - src: gitconfig
      dest: "{{ ansible_facts['user_dir'] }}/.gitconfig"
    - src: gitconfig.d/
      dest: "{{ ansible_facts['user_dir'] }}/.gitconfig.d"
    - src: git.bash
      dest: "{{ ansible_facts['user_dir'] }}/.bashrc.d/git.bash"
