---
- name: Install for macOS
  ansible.builtin.include_tasks: install_macos.yaml
  when: ansible_distribution == "MacOSX"

- name: Install for Ubuntu
  ansible.builtin.include_tasks: install_ubuntu.yaml
  when: ansible_distribution == "Ubuntu"

- name: Copy config
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ ansible_facts['user_uid'] }}"
    group: "{{ ansible_facts['user_gid'] }}"
    mode: u=rw,g=r,o=r
  loop:
    - src: gitconfig
      dest: "{{ ansible_facts['user_dir'] }}/.gitconfig"
    - src: gitconfig.d/
      dest: "{{ ansible_facts['user_dir'] }}/.gitconfig.d"
    - src: git.bash
      dest: "{{ ansible_facts['user_dir'] }}/.bashrc.d/git.bash"
