---
- name: Get Go current version
  ansible.builtin.stat:
    path: "{{ go_prefix_path }}/go/VERSION"
  register: go_version_file

- name: Install Go if version outdated
  ansible.builtin.include_tasks: install.yml
  when: |
    not go_version_file.stat.exists or
    lookup('file', go_version_file.stat.path) != version

- name: Copy bashrc config
  ansible.builtin.template:
    src: go.bash.j2
    dest: "{{ ansible_facts['user_dir'] }}/.bashrc.d/go.bash"
    owner: "{{ ansible_facts['user_uid'] }}"
    group: "{{ ansible_facts['user_gid'] }}"
    mode: u=rw,g=r,o=r
