# This file is meant to be sourced from bashrc

alias k="kubectl"
{% if kubectl_install_kubectx %}
alias kctx='kubectl ctx'
alias kns='kubectl ns'
{% endif %}
{% if kubectl_install_helm %}
alias h='helm'
alias helm3='helm'
{% endif %}

{% if kubectl_install_kubectx %}
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
{% endif %}
