# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Ansible test

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --assume-yes pipx
          pipx install --include-deps ansible-lint
          ansible-galaxy install -r collections/requirements.yml
          # TODO Debug info. Revert this later
          ansible --version
          ansible-lint --version

      - name: Run ansible-lint
        run: ansible-lint roles/* playbook.yaml
